---
layout: archive
title: "Blog Posts"
permalink: /posts/
author_profile: true
redirect_from:
  - /year-archive/
  - /wordpress/blog-posts/
---


{% include base_path %}

<div class="post-grid">
  {% assign items = site.posts | sort: "date" | reverse %}
  {% for p in items %}
    <a class="post-card" href="{{ p.url | relative_url }}">
      <div class="post-thumb">
        <img
          src="{{ p.thumb | default: p.header.teaser | default: '/images/blog/default.jpg' | relative_url }}"
          alt="{{ p.title }}">
      </div>

      <div class="post-meta">
        <div class="post-title">{{ p.title }}</div>
        <div class="post-date">{{ p.date | date: "%d %B %Y" }}</div>
      </div>
    </a>
  {% endfor %}
</div>

